# Dependencies
node_modules/

# Docusaurus build artifacts
build/
.docusaurus/
.cache-loader/

# Generated man pages (recreated by the Pages workflow)
docs/man/smartctl.md
docs/man/smartd.md
docs/man/smartd.conf.md
docs/man/update-smart-drivedb.md
